<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>George</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;family=Montserrat:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/069349f420.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container">
    <img src="static/MeSmiling.png" alt="My Profile Picture">
    <h1 class="m-1 text-orange">I'm George</h1>
    <p class="m-1 text-orange">Jr. DevOps Engineer</p>
    <ul>
      <li><a class="text-orange" href="https://www.linkedin.com/in/gspiliopoulos"><i class="fab fa-instagram"></i></a></li>
      <li><a class="text-orange" href="https://www.linkedin.com/in/gspiliopoulos"><i class="fab fa-linkedin"></i></a></li>
      <li><a class="text-orange" href="https://github.com/SpiliopoulosG"><i class="fab fa-github"></i></a></li>
    </ul>

  </div>

  <footer class="m-1 text-orange">
    <p>Copyright 2022 SpiliopoulosG</p>
  </footer>

</body>

</html>
