@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.5;
    background: rgb(115,238,252);
    background: linear-gradient(90deg, rgba(115,238,252,1) 25%, rgba(247,246,244,1) 50%, rgba(255,149,44,1) 75%);
}

.ff-u{ font-family: 'Ubuntu', sans-serif; }
.text-blue{ color: #61A4BC;}
.pad-1{ padding: 1rem; }
.mar-1{ margin: 1rem 0;}

body,
section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

main {
    max-width: 720px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

main h1{
    width: 100%;
    text-align: center;
}

form {
    width: 70%;
    padding: 1rem;
}

input,
button {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    width: 100%;
    border: 1px solid #61A4BC;
    padding: 1rem;
    border-radius: 20px;
}

input {
    box-sizing: border-box;
    width: 100%;
}

.buttons {
    display: flex;
}

button {
    cursor: pointer;
    flex: 1;
    background-color: transparent;
    color: white;
}

button:hover {
    background-color: #61A4BC;
    color: #fff;
}

section {
    width: 80%;
    min-height: 120px;
    text-align: center;
    background-color: #61A4BC;
    border-radius: 10px;
    color: #fff;
}