body {
    background: url('../images/background-home-desktop.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.content {
    margin: 10% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .text {
    line-height: 1.5rem;
    width: 450px;
}

.content .explore {
    color: #000000
}

/* Explore Button */
.outer {
    position: relative;
    margin: 0 50px;
    background: #fff;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.outer button,
.outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer button {
    background: #fff;
    color: #f2f2f2;
    outline: none;
    border: none;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 36px;
}

.circle button {
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}

.circle span {
    border-radius: 50%;
}

.outer:hover span:nth-child(1) {
    filter: blur(7px);
}

.outer:hover span:nth-child(2) {
    filter: blur(14px);
}

.outer:hover {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@media (max-width: 640px) {
    .center {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* Tablet Responseveness */

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background: url('../images/background-home-tablet.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .extra-large-header {
        font-size:150px;
    }
    .content .text {
        line-height: 1.5rem;
        width: 500px;
        flex-wrap: wrap;
    }
    .extra-small-header {
        width: 300px;
    }
    .circle {
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
    .circle button {
        height: 270px;
        width: 270px;
        border-radius: 50%; 
    }
    .outer button {
        font-size: 38px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        background: url('../images/background-home-tablet.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .extra-large-header {
        font-size:150px;
    }
    .content .text {
        line-height: 1.5rem;
        width: 500px;
        flex-wrap: wrap;
    }
    .extra-small-header {
        width: 300px;
    }
    .circle {
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
    .circle button {
        height: 270px;
        width: 270px;
        border-radius: 50%; 
    }
    .outer button {
        font-size: 38px;
    }
}

/* Mobile Responsiveness */

@media screen and (max-width: 480px) {
    body {
        background: url('../images/background-home-mobile.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .extra-large-header {
        font-size:100px;
    }
    .content .text {
        line-height: 1.5rem;
        width: 300px;
        flex-wrap: wrap;
    }
    .extra-small-header {
        width: 300px;
    }
    .circle {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .circle button {
        height: 140px;
        width: 140px;
        border-radius: 50%;
    }
    .outer button {
        font-size: 18px;
    }
}


@media (max-width: 300px) {
    body {
        background: url('../images/background-home-mobile.jpg') no-repeat;
        background-position: center;
        background-size: cover;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .extra-large-header {
        font-size: 70px;
    }
    .content .text {
        line-height: 1.5rem;
        width: 200px;
        flex-wrap: wrap;
    }
    .extra-small-header {
        width: 200px;
        font-size: 20px;
    }
    .circle {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .circle button {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
    .outer button {
        font-size: 18px;
    }
}